* {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}

.hero {
    background-color: #1F2937;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: #E5E7EB;
}

header .logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-bottom: 70px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.main-section {
    display: flex;
    color: white;
    gap: 70px;
    padding: 24px;
    padding-bottom: 100px;
    justify-content: center;
}

.main-section h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 8px;
}

.main-section p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 8px 32px;
    margin: 10px 0px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.random-information {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    padding: 48px 0px 70px;
    text-align: center;
}

.random-information h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 48px;

}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.block {
    max-width: 200px;
}

.block img {
    border:#3882F6 solid 3px;
    padding: 50px 20px;
    border-radius: 8px;
}

.description {
    padding-top: 8px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 200px 100px 200px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 8px;
}

.author {
    text-align: right;
    font-weight: 700;
    font-size: 24px;
}

.cta-container {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.cta {
    display: flex;
    gap: 150px;
    background-color: #3882F6;
    padding: 48px 200px;
    color: #F9FAF8;
    border-radius: 8px;
}

.cta-button {
    border: #F9FAF8 solid 2px;
}

.cta-header {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 8px;
}

.cta-subheader {
    font-weight: 300;
}

footer {
    text-align: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 28px;
}